# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
ENV/
env/
.venv/
.ENV/
.env/

# Jupyter Notebooks
.ipynb_checkpoints

# Data files
*.csv
*.xlsx
*.xls
*.h5
*.db

# Model files
*.pkl
*.joblib

# Results and outputs
results/

# VSCode
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
